@CHARSET "UTF-8";

.mt4_title{
    text-align:center;
    margin:5px 0;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

body {
  position: relative;
  padding-top: 50px;
}

.jumbotron{
	text-align:center;
	margin-top:80px 0;
}

.form-signin {
        max-width: 600px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
#head_info{
  margin: 10px 0 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
#head_info p{
  margin: 10px 0 10px 0;
}
select{
  width: 120px;
}
#start_time,#end_time {
width: 140px;
}
.rate{
  margin: 0 6px 0 6px;
}

.margin{
  color: blue;
  border: 1px dashed red;
  padding: 5px;
}
#quoteslist .up{
  color: green;
}
#quoteslist .down{
  color: red;
}
#quoteslist .btn{
  padding: 1px;
}
a.hot{
  background: url(../img/hot.gif) no-repeat 65px 0px;
}
div#signal{
  background: url(../img/signal.png) no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin: 5px auto;
}
.tx-green{color: green;font-size: 18px}
.tx-red{color: red;font-size: 18px}
#ext_toolbar {
  background-image: url(../img/gradient.png);color: rgb(51, 51, 51); border-bottom-width: 1px; 
  border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); height: 37px; display: block;
  position: absolute; top: 0px; width: 1424px; z-index: 100000;
}
#ext_toolbar_close {
  float: right; background-image: url(../img/close.png); width: 10px; height: 10px; 
  margin: 14px 10px 0px 0px; cursor: pointer; background-position: initial initial; 
  background-repeat: no-repeat no-repeat;
}
#ext_toolbar_install{
  float: right; width: 87px; height: 26px; margin: 6px 10px 0px 0px; cursor: pointer; 
}
#online_order_form .control-label{
  width: 100px;
}
#online_order_form .controls{
  margin-left: 130px;
}